
.itinerary-page {
  --white: #fafafa;
  --lightBlue: #1C2541;
  
  --background: var(--white);
  --accent: var(--lightBlue);
  
  margin: 0;
  padding: 0;
  color: var(--accent);
  font-family: sofia-pro, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  min-height: calc(100vh - 100px); 
}

  
  .itinerary-page h1,
  .itinerary-page h2,
  .itinerary-page h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fafafa;
  }
  
  .itinerary-page circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
  }
  
  .itinerary-page .bg {
  stroke: var(--accent);
  opacity: 0.3;
  }
  
  .itinerary-page #progress .indicator {
  stroke: var(--accent);
  }
  
  .itinerary-page ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
  -webkit-border-radius: 1ex;
  border-radius: 0%;
  }
  
  .itinerary-page ::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
  border-radius: 1%;
  }
  
  .itinerary-page ::-webkit-scrollbar-corner {
  background: #fff3;
  }
  
  .itinerary-page .refresh {
  padding: 5px;
  position: absolute;
  border: 1px dotted var(--accent);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }
  
  .itinerary-page .refresh path {
  fill: var(--accent);
  }
  
  .itinerary-page ul {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  gap: 20px;
  }
  
  .itinerary-page li {
  display: block;
  background: var(--accent);
  color: var(--white);
  font-weight: bold;
  height: 40px;
  width: 100%;
  flex: 0 0 80px;
  border-radius: 20px;
  }
  
  .itinerary-page ul,
  .itinerary-page li {
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  .itinerary-page button {
    -webkit-appearance: button;
    background: var(--accent);
    color: var(--background);
    /* border: 1px solid white; */
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    width: 100%; /* 将按钮宽度设置为100% */
  }
  
  
  .itinerary-page input {
  accent-color: var(--white);
  }
  
  .itinerary-page .controls {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 10px;
  align-items: center;
  }
  
  .itinerary-page label {
  display: flex;
  align-items: center;
  margin: 20px 0;
  }
  
  .itinerary-page input[type="number"] {
  border: 0;
  border-bottom: 1px dotted var(--accent);
  color: var(--accent);
  margin-left: 10px;
  background: var(--background);
  width: 50px;
  }
  
  .itinerary-page input[type="number"]:focus {
  outline: none;
  border-bottom: 2px solid var(--accent);
  }
  
  .itinerary-page input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }
  
  .itinerary-page .example {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  #progress {
  position: relative;
  top: 20px;
  left: 20px;
  transform: rotate(-90deg);
  }
  
  .progress {
  margin-top: 10px;
  position: relative;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
  }
  
 .window {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  margin-top: 6px;
  width: 100%; /* 添加自适应宽度 */
}

.gallery {
  display: flex;
  position: relative;
  list-style: none;
  width: 100%; /* 添加自适应宽度 */
  height: auto;
  padding: 10px ;
  flex: 0 0 30px;
  margin: 20 auto;
}

  
  .window-content {
  text-align: center;
  }

  
  .gallery::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
  border-radius: 1%;
  }
  
  .gallery::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
  border-radius: 1%;
  }
  
  .gallery::-webkit-scrollbar-corner {
  background: #fff3;
  }
  
  .gallery li:last-of-type {
  margin: 0px;
  }
  
  .gallery circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
  }
  
  .gallery #progress .indicator {
  stroke: var(--accent);
  }
  
  .gallery ul {
  display: flex;
  list-style: none;
  height: 600px;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 10 1100px;
  margin: 0 auto;
  }
  
  .gallery #progress {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-90deg);
  }
  
  .pop {
  flex: 1.4;
  margin-top: 80px;
  }
  
  .info-box {
  border: 2px solid white;
  flex: 2;
  height: 366px;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  overflow: auto;
  color:#fafafa;
  margin: "100px";
  text-decoration: none;
  background-color: #4f9cc4;
  }

  
  .attraction-names {
  background-color: #4f9cc4;
  padding: 10px;
  color: white;
  }
  
  .attraction-names a {
  color:white;
  font-size: 16px;
  text-decoration: none;
  margin: 8px;
  padding: 8px;
  background-color:#1C2541;
  border-radius: 8px;
  display:inline-block;
  }
  
  .restaurant-names {
    background-color: #4f9cc4;
    padding: 10px;
    color: white;
  }
  
  .restaurant-names h2 {
  margin-top: 0;
  }
  
  .restaurant-names a {
  color:white;
  font-size: 16px;
  text-decoration: none;
  margin: 8px;
  padding: 8px;
  background-color:#1C2541;
  border-radius: 8px;
  display:inline-block;
  }
  
  .hotel-names {
    background-color: #4f9cc4;
    padding: 10px;
    color: white;
  }
  
  .hotel-names h2 {
  margin-top: 0;
  }
  
  .hotel-names a {
    color:white;
  font-size: 16px;
  text-decoration: none;
  margin: 8px;
  padding: 8px;
  background-color:#1C2541;
  border-radius: 8px;
  display:inline-block;
  }


  .bottom-itin{
    color: #fafafa;
    padding: 20px;
  }
  .bottom-itin h2{
    color: #fafafa;
  }
  h4 {
    color: #fafafa;
  }

  .restaurant-names{
    color: #fafafa;
  }
  attraction-names{
    color: #fafafa;

  }
 .hotel-names{
  color: #fafafa;
  }
  .btn-itin{
    background-color: #fafafa;
    color: #1C2541;
  }


  /* 设置父容器div的高度自适应 */
.example {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 设置ul元素的高度自适应 */
.example ul {
  flex: 1;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* 设置img元素的宽度自适应 */
.example img {
  width: 100%;
  height: auto;
}
